.article {
  &__header,
  .breadcrumbs {
    margin-top: 50px;
  }

  &__tags {
    --carousel-padding: 16px;
    margin: 48px 0;

    .carousel__container {
      grid-auto-columns: max-content;
    }
  }

  &__tag {
    display: inline-block;
    border: 1px solid #efefef;
    border-radius: 50px;
    padding: 14px 30px;
    background-color: $white;
    transition:
      color $transition,
      border-color $transition;
    font-size: 18px;
    line-height: 25.38px;
    color: $dark;

    @include hover {
      &:hover {
        color: $orange;
      }
    }

    &:active {
      color: $orange;
      border-color: $orange;
    }
  }

  &__header,
  &__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px 56px;
  }

  &__header {
    margin-bottom: 50px;

    time {
      text-align: right;
      color: $dark;
      font-size: 18px;
      line-height: 25.38px;
    }
  }

  &__content {
    grid-template-areas:
      'banner anchors'
      'text anchors'
      'share anchors'
      'author anchors';
  }

  &__banner {
    border-radius: 20px;
    overflow: hidden;
  }

  &__anchors {
    // .block {
    //   position: sticky;
    //   top: var(--main-padding-top);
    // }

    .h3 {
      margin-bottom: 20px;
      color: $dark-blue;
    }

    ol,
    ul {
      padding-left: 24px;
    }

    ul {
      list-style-type: disc;
    }
  }

  &__anchor {
    &_active {
      color: $blue !important;
    }
  }

  &__share {
    grid-area: 'share';
    display: flex;
    align-items: center;

    p {
      margin-right: 16px;
      font-weight: 700;
    }

    .ya-share2__list.ya-share2__list_direction_horizontal > .ya-share2__item {
      margin-right: 8px;
    }

    .ya-share2__icon {
      background-size: 32px 32px !important;
      width: 40px !important;
      height: 40px !important;
    }
  }

  @include break($xxl) {
    &__tags {
      margin-inline: -32px;

      .carousel__viewport {
        padding: 0 32px;
      }
    }
  }

  @include break($lg) {
    &__header,
    &__content {
      grid-template-columns: 1fr;
    }

    &__header {
      gap: 10px;
      margin-bottom: 30px;

      time {
        text-align: left;
      }
    }

    &__content {
      grid-template-areas:
        'banner'
        'anchors'
        'text'
        'share'
        'author';
      gap: 20px;
    }

    // &__anchors {
    //   position: static;
    // }

    &__text {
      .block {
        --block-padding-x: 0;
        background-color: transparent;
      }
    }
  }

  @include break($md) {
    &__tags {
      --carousel-gap: 10px;
      margin: 20px -20px 40px;
    }

    .carousel__viewport {
      padding: 0 20px;
    }

    &__tag {
      padding: 8px 20px;
      font-size: 13px;
      line-height: 18.33px;
    }

    &__header {
      margin-top: 20px;
    }

    &__header {
      time {
        font-size: 13px;
        line-height: 18.33px;
      }
    }

    &__anchors {
      font-size: 13px;
      line-height: 18.33px;

      .h3 {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}

.article-author {
  grid-area: 'author';

  .h3 {
    color: $orange;
  }

  &__content,
  &__info {
    display: flex;
    align-items: center;
  }

  &__content {
    gap: 32px;
    justify-content: space-between;
    margin-block: 20px 30px;
  }

  &__name {
    .h4 {
      white-space: nowrap;
    }
  }

  &__avatar {
    border-radius: 50%;
    min-width: 80px;
    max-width: 80px;
    margin-right: 20px;
    height: 80px;
    overflow: hidden;
  }

  &__position {
    font-size: 14px;
    line-height: 19.74px;
    margin-top: 4px;
  }

  &__description {
    flex: 430px;
    font-size: 18px;
    line-height: 25.38px;
  }

  @include break($md) {
    &__content {
      align-items: unset;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 20px;
    }

    &__avatar {
      min-width: 60px;
      max-width: 60px;
      height: 60px;
    }

    &__position {
      font-size: 12px;
      line-height: 17.09px;
      margin-top: 6px;
    }

    &__description {
      flex: unset;
      font-size: 14px;
      line-height: 19.74px;
    }
  }
}
