.carousel {
  --carousel-gap: 12px;
  --carousel-padding: 12px;
  position: relative;
  user-select: none;

  &__viewport {
    overflow: hidden;
    height: 100%;
  }

  &__container {
    display: flex;
    height: 100%;
    margin-left: calc(var(--carousel-gap) * -1);
  }

  // &_grid &__container {
  //   display: grid;
  //   grid-auto-flow: column;
  //   gap: var(--carousel-gap);
  //   margin-left: 0;
  // }

  &__slide {
    min-width: 0;
    height: 100%;
    padding-left: var(--carousel-gap);
  }

  // &_grid &__slide {
  //   padding-left: 0;
  // }
}