.carousel {
  --carousel-gap: 12px;
  --carousel-padding: 12px;
  position: relative;
  user-select: none;

  &__viewport {
    overflow: hidden;
    height: 100%;
  }

  &__container {
    display: flex;
    height: 100%;
    margin-left: calc(var(--carousel-gap) * -1);
  }

  &_grid &__container {
    display: grid;
    grid-auto-flow: column;
    gap: var(--carousel-gap);
    margin-left: 0;
  }

  &__slide {
    min-width: 0;
    height: 100%;
    padding-left: var(--carousel-gap);
  }

  &_grid &__slide {
    padding-left: 0;
  }
}

.carousel-arrows {
  display: flex;

  button {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: $soft-blue;
    transition:
      transform $transition,
      opacity $transition;
    color: $blue;

    @include hover {
      &:not(:disabled):hover {
        transform: scale(1.1);
      }
    }

    &:not(:disabled):active {
      transform: scale(0.9);
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &_orange button {
    background-color: $soft-orange;
    color: $orange;
  }

  button + button {
    margin-left: 8px;
  }

  @include break($md) {
    button {
      width: 30px;
      height: 30px;
    }
  }
}
