.feedback {
  h2 span {
    color: $blue;
  }

  &__carousel {
    --carousel-gap: 24px;
    margin: 0 calc(var(--block-padding-x) * -1);
  }

  .carousel__viewport {
    padding: 0 var(--carousel-gap);
  }

  .carousel__container {
    grid-auto-columns: calc(25% - var(--carousel-gap) / 4 * 3);
  }

  @include break($xl) {
    .carousel__container {
      grid-auto-columns: calc(100% / 3 - var(--carousel-gap) / 3 * 2);
    }
  }

  @include break($lg) {
    .carousel__container {
      grid-auto-columns: calc(50% - var(--carousel-gap) / 2);
    }
  }

  @include break($md) {
    &__carousel {
      --carousel-gap: 20px;
    }

    .carousel-arrows {
      display: none;
    }

    .carousel__container {
      grid-auto-columns: 220px;
    }
  }
}

.feedback-card {
  position: relative;
  border-radius: 16px;
  padding: 24px;
  background-color: $soft-gray;
  transition: background-color $transition;
  overflow: hidden;

  @include hover {
    &:not(&_static):hover {
      background-color: $blue;
      cursor: pointer;
      color: $white;
    }

    &:not(&_static):hover &__text svg,
    &:not(&_static):hover h4 {
      color: $white;
    }

    &:not(&_static):hover &__pattern {
      color: darken($blue, 5%);
    }
  }

  &:not(&_static):active {
    background-color: $blue;
    color: $white;
  }

  &:not(&_static):active &__text svg,
  &:not(&_static):active h4 {
    color: $white;
  }

  &:not(&_static):active &__avatar {
    box-shadow: 0 0 0 8px $white;
  }

  & > *:not(svg) {
    position: relative;
    z-index: 1;
  }

  &__avatar {
    border-radius: 50%;
    margin-bottom: 24px;
    padding-bottom: 100%;
    transition: box-shadow $transition;
  }

  h4 {
    transition: color $transition;
  }

  &__text {
    display: grid;
    grid-template-columns: 1fr 24px;
    gap: 48px;
    align-items: flex-end;
    margin-top: 8px;

    p {
      transition: color $transition;
      font-size: 14px;
      line-height: 19.74px;
    }

    svg {
      transition: color $transition;
      color: $gray;
    }
  }

  &:not(&_has-audio) &__text svg {
    display: none;
  }

  &__pattern {
    position: absolute;
    top: 30px;
    left: -112px;
    width: 520px;
    height: 260px;
    transition: color $transition;
    color: transparent;
  }

  @include break($md) {
    padding: 20px;

    &__avatar {
      margin-bottom: 20px;
    }

    &__text {
      grid-template-columns: 1fr 16px;
      gap: 24px;
      margin-top: 10px;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}
