.header {
  --header-height: 64px;
  position: fixed;
  top: 20px;
  left: 0;
  z-index: 100;
  width: 100%;
  transition: height $transition;

  &__inner,
  &__inner > *,
  &__buttons,
  &__phone a,
  &__socials,
  &__social {
    display: flex;
    align-items: center;
  }

  &__content {
    box-shadow: 0 0 40px 0 rgba($black, 0.05);
    border-radius: 12px;
    height: var(--header-height);
    padding: 0 18px;
    background-color: $white;
    transition: height $transition;
  }

  &__inner {
    margin: 0 -6px 0 -12px;
    justify-content: space-between;
    height: var(--header-height);
  }

  &__button_telegram,
  &__burger {
    display: none;
  }

  &__phone {
    svg {
      margin-right: 10px;
      color: $blue;
    }
  }

  &__socials {
    margin: 0 30px;
  }

  &__button {
    &_telegram {
      background-color: $telegram;
    }

    & + & {
      margin-left: 10px;
    }
  }

  &__burger {
    color: $orange;

    svg:nth-child(2) {
      display: none;
    }
  }

  &_full &__burger {
    svg:first-child {
      display: none;
    }

    svg:nth-child(2) {
      display: block;
    }
  }

  @include break($xxl) {
    &__phone {
      display: none;
    }
  }

  @include break($xl) {
    &__socials {
      display: none;
    }
  }

  @include break($lg) {
    overflow: hidden;
    height: var(--header-height);

    &_full {
      height: calc(100% - 40px);
    }

    &_full &__content {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .header-nav {
      display: none;
    }

    &__button_telegram,
    &__burger {
      display: flex;
    }

    &__button_popup {
      display: none;
    }
  }

  @include break($md) {
    --header-height: 60px;

    &__logo {
      svg {
        max-width: 100px;
        width: 100%;
      }
    }
  }
}

.header-nav {
  height: 100%;

  &__item {
    height: 100%;
    position: relative;
  }

  &__item > span,
  &__item > a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    transition: color $transition;
    color: $dark;
  }

  &__subcontent {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    padding-top: 20px;
    transition:
      opacity $transition,
      visibility $transition;
  }

  &__submenu {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: max-content;
    padding: 20px;
    background-color: $white;
  }

  &__item:hover &__subcontent {
    opacity: 1;
    visibility: visible;
  }

  &__item:hover > span {
    color: $orange;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background-color $transition;
  }

  &__item:hover &__overlay {
    background-color: rgba(#1d1d1d, 0.8);
  }

  &__subitem {
    & + & {
      margin-top: 8px;
    }
  }

  @include break($xl) {
    &__item > span,
    &__item > a {
      padding: 0 10px;
    }
  }
}

.burger-menu {
  display: none;
  flex-direction: column;
  border-top: 1px solid $soft-gray;
  padding-bottom: 30px;
  overflow: auto;

  &__link {
    margin-top: 15px;

    &_has-menu {
      margin: 30px 0;
    }
  }

  &__submenu {
    margin-top: 20px;
  }

  &__sublink {
    font-size: 14px;
    line-height: 20px;

    & + & {
      margin-top: 10px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    div {
      margin-bottom: 8px;
      font-size: 14px;
      line-height: 20px;
    }

    span,
    a {
      font-size: 24px;
      line-height: 28.8px;
    }
  }

  .header__socials {
    display: flex;
    margin: 30px 0;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    color: $gray;
    font-size: 14px;
    line-height: 20px;

    & > * + * {
      margin-top: 20px;
    }
  }

  @include break($lg) {
    display: flex;
  }
}
