.text-page {
  --breadcrumbs-margin: 50px;
  h1,
  .breadcrumbs {
    margin-top: var(--breadcrumbs-margin);
  }

  & > .container > *:not(.breadcrumbs) {
    max-width: 848px;
  }

  h1 {
    margin-bottom: var(--breadcrumbs-margin);
  }

  &__banner {
    border-radius: 20px;
    overflow: hidden;
    height: 426px;
    margin-bottom: var(--breadcrumbs-margin);
  }

  @include break($md) {
    --breadcrumbs-margin: 20px;

    &__banner {
      height: 240px;
    }
  }
}
