body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.56px;

  @include break($md) {
    font-size: 14px;
    line-height: 19.74px;
  }
}

button,
.button {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 23.02px;
  letter-spacing: -0.02em;

  @include break($md) {
    &_small {
      font-size: 12px;
      line-height: 17.27px;
    }
  }
}

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;

  span.h1_blue {
    color: $blue;
  }

  @include break($md) {
    font-size: 24px;
    line-height: 28.8px;
  }
}

h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;

  @include break($md) {
    font-size: 20px;
    line-height: 24px;
  }
}

h3 {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 700;

  @include break($md) {
    font-size: 16px;
    line-height: 19.2px;
  }
}

h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;

  @include break($md) {
    font-size: 16px;
    line-height: 19.2px;
  }
}
