/**
 * Variables
*/

/* Typography */
$font-fallback: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-primary: 'Atyp Text', $font-fallback;

/* Breakpoints */
$xxl: 1440px;
$xl: 1280px;
$lg: 1024px;
$md: 768px;

/* Paths */
/* Grid setup */
/* Colour palette */
$dark: #4C4C4C;
$gray: #B3B3B3;
$dark-gray: #727272;
$soft-gray: #F7F7F7;
$blue: #1CC7D0;
$dark-blue: #058E96;
$soft-blue: #EBFCFD;
$orange: #EF5734;
$soft-orange: #FFEFEC;
$green: #2BAF2B;
$red: #DA121A;
$yellow: #FFCC2F;

$black: #000;
$white: #fff;

/* Components */
