:root {
  --radius: 20px;
  --section-padding: 100px;

  @include break($md) {
    --radius: 16px;
    --section-padding: 60px;
  }
}

body {
  color: $dark-gray;
  background-color: $soft-gray;
}

main {
  --main-padding-top: 104px;
  padding-top: var(--main-padding-top);

  &.main_no-padding {
    padding-top: 0;
  }

  @include break($md) {
    --main-padding-top: 90px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  color: $dark;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 0 32px;

  &_full-height {
    height: 100%;
  }

  @include break($md) {
    padding: 0 20px;
  }
}

main > section + section {
  padding-top: var(--section-padding);
}

.section {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 48px;
  }

  @include break($md) {
    &__header {
      margin-bottom: 30px;
    }
  }
}

.block {
  --block-padding-x: 32px;
  --block-padding-y: 60px;
  background-color: $white;
  border-radius: var(--radius);
  padding: var(--block-padding-y) var(--block-padding-x);

  &_transparent {
    background-color: transparent;
  }

  &_equal-padding {
    --block-padding-y: var(--block-padding-x);
  }

  @include break($md) {
    --block-padding-x: 30px;

    &:not(&_equal-padding) {
      --block-padding-y: 30px;
    }
  }
}

.button {
  display: inline-block;
  border-radius: 32px;
  padding: 16px 32px;
  cursor: pointer;
  color: $dark;

  &_primary {
    background-color: $orange;
    color: $white;
  }

  &_secondary {
    border: 1px solid #cfcfcf;
  }

  &_small {
    padding: 8px 32px;
  }

  @include break($md) {
    padding: 8px 32px;

    &_small {
      padding: 6px 18px;
    }
  }
}

.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: $dark;
  transition: color $transition;

  &_lighter {
    color: $dark-gray;
  }

  &_gray {
    color: $gray;
  }

  @include hover {
    &:hover {
      color: $orange;
    }
  }

  &:active {
    color: $blue;
  }
}

h1 {
  span.h1_blue {
    color: $blue;
  }

  span.h1_orange {
    color: $orange;
  }
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.social-links {
  display: flex;
  align-items: center;

  &__item {
    display: flex;

    &_whatsapp {
      color: $whatsapp;
    }

    &_telegram {
      color: $telegram;
    }

    & + & {
      margin-left: 8px;
    }
  }
}
