:root {
  --radius: 20px;
  --section-padding: 100px;

  @include break($md) {
    --radius: 16px;
    --section-padding: 60px;
  }
}

body {
  color: $dark-gray;
  background-color: $soft-gray;
}

main {
  --main-padding-top: 104px;
  padding-top: var(--main-padding-top);

  &.main_no-padding {
    padding-top: 0;
  }

  @include break($md) {
    --main-padding-top: 90px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  color: $dark;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 0 32px;

  &_full-height {
    height: 100%;
  }

  @include break($md) {
    padding: 0 20px;
  }
}

main > section + section {
  padding-top: var(--section-padding);
}

.section {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 48px;
  }

  @include break($md) {
    &__header {
      margin-bottom: 30px;
    }
  }
}

.block {
  --block-padding-x: 32px;
  --block-padding-y: 60px;
  background-color: $white;
  border-radius: var(--radius);
  padding: var(--block-padding-y) var(--block-padding-x);

  &_transparent {
    background-color: transparent;
  }

  &_equal-padding {
    --block-padding-y: var(--block-padding-x);
  }

  @include break($md) {
    --block-padding-x: 30px;

    &:not(&_equal-padding) {
      --block-padding-y: 30px;
    }
  }
}

.button {
  display: inline-block;
  border-radius: 32px;
  padding: 16px 32px;
  cursor: pointer;
  text-align: center;
  color: $dark;

  &_primary {
    background-color: $orange;
    color: $white;
  }

  &_blue {
    background-color: $blue;
    color: $white;
  }

  &_secondary {
    border: 1px solid #cfcfcf;
  }

  &_small {
    padding: 8px 32px;
  }

  @include break($md) {
    padding: 8px 32px;

    &_small {
      padding: 6px 18px;
    }
  }
}

.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: $dark;
  transition: color $transition;

  &_lighter {
    color: $dark-gray;
  }

  &_gray {
    color: $gray;
  }

  @include hover {
    &:hover {
      color: $orange;
    }
  }

  &:active {
    color: $blue;
  }
}

h1 {
  span.h1_blue {
    color: $blue;
  }

  span.h1_orange {
    color: $orange;
  }
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.social-links {
  display: flex;
  align-items: center;

  &__item {
    display: flex;

    &_whatsapp {
      color: $whatsapp;
    }

    &_telegram {
      color: $telegram;
    }

    & + & {
      margin-left: 8px;
    }
  }
}

.mask-clover {
  clip-path: polygon(
    88.531% 49.994%,
    88.531% 49.994%,
    89.546% 48.416%,
    90.526% 46.817%,
    91.47% 45.197%,
    92.377% 43.558%,
    93.246% 41.9%,
    94.079% 40.224%,
    94.874% 38.53%,
    95.631% 36.818%,
    96.351% 35.09%,
    97.031% 33.347%,
    97.031% 33.347%,
    99.162% 26.062%,
    99.985% 19.575%,
    99.563% 13.948%,
    97.956% 9.241%,
    95.228% 5.515%,
    91.44% 2.831%,
    86.654% 1.25%,
    80.933% 0.834%,
    74.338% 1.642%,
    66.931% 3.737%,
    66.931% 3.737%,
    65.157% 4.406%,
    63.399% 5.114%,
    61.658% 5.859%,
    59.935% 6.641%,
    58.23% 7.461%,
    56.544% 8.317%,
    54.877% 9.21%,
    53.23% 10.138%,
    51.604% 11.103%,
    49.999% 12.103%,
    49.999% 12.103%,
    48.394% 11.104%,
    46.768% 10.14%,
    45.122% 9.213%,
    43.456% 8.321%,
    41.77% 7.466%,
    40.065% 6.648%,
    38.343% 5.866%,
    36.603% 5.122%,
    34.845% 4.416%,
    33.072% 3.748%,
    33.072% 3.748%,
    25.665% 1.654%,
    19.07% 0.845%,
    13.348% 1.262%,
    8.562% 2.842%,
    4.774% 5.526%,
    2.045% 9.252%,
    0.438% 13.959%,
    0.014% 19.586%,
    0.836% 26.073%,
    2.966% 33.358%,
    2.966% 33.358%,
    3.647% 35.102%,
    4.367% 36.83%,
    5.124% 38.541%,
    5.92% 40.235%,
    6.753% 41.912%,
    7.624% 43.57%,
    8.531% 45.209%,
    9.475% 46.828%,
    10.456% 48.427%,
    11.472% 50.005%,
    11.472% 50.005%,
    10.457% 51.584%,
    9.477% 53.183%,
    8.533% 54.803%,
    7.626% 56.442%,
    6.755% 58.1%,
    5.922% 59.776%,
    5.126% 61.47%,
    4.368% 63.181%,
    3.648% 64.909%,
    2.966% 66.653%,
    2.966% 66.653%,
    0.836% 73.939%,
    0.014% 80.426%,
    0.438% 86.054%,
    2.045% 90.761%,
    4.774% 94.487%,
    8.562% 97.17%,
    13.348% 98.75%,
    19.07% 99.166%,
    25.665% 98.357%,
    33.072% 96.263%,
    33.072% 96.263%,
    34.846% 95.593%,
    36.603% 94.886%,
    38.343% 94.141%,
    40.066% 93.359%,
    41.77% 92.539%,
    43.456% 91.683%,
    45.122% 90.79%,
    46.768% 89.861%,
    48.394% 88.897%,
    49.999% 87.897%,
    49.999% 87.897%,
    51.604% 88.897%,
    53.23% 89.861%,
    54.877% 90.79%,
    56.544% 91.682%,
    58.23% 92.538%,
    59.935% 93.358%,
    61.658% 94.14%,
    63.399% 94.886%,
    65.157% 95.593%,
    66.931% 96.263%,
    66.931% 96.263%,
    74.338% 98.357%,
    80.933% 99.166%,
    86.654% 98.75%,
    91.44% 97.17%,
    95.228% 94.487%,
    97.956% 90.761%,
    99.563% 86.054%,
    99.985% 80.426%,
    99.162% 73.939%,
    97.031% 66.653%,
    97.031% 66.653%,
    96.35% 64.908%,
    95.631% 63.179%,
    94.873% 61.467%,
    94.078% 59.772%,
    93.245% 58.094%,
    92.375% 56.435%,
    91.469% 54.795%,
    90.525% 53.174%,
    89.546% 51.574%,
    88.531% 49.994%
  );
}

.mask-circle {
  clip-path: circle(50% at 50% 50%);
}

.mask-hexagon {
  clip-path: polygon(
    5.775% 21.648%,
    43.683% 2.195%,
    43.683% 2.195%,
    44.217% 1.938%,
    44.763% 1.706%,
    45.322% 1.501%,
    45.89% 1.322%,
    46.469% 1.169%,
    47.055% 1.044%,
    47.648% 0.946%,
    48.247% 0.876%,
    48.851% 0.834%,
    49.458% 0.82%,
    49.458% 0.82%,
    50.065% 0.834%,
    50.668% 0.876%,
    51.267% 0.946%,
    51.861% 1.044%,
    52.447% 1.169%,
    53.025% 1.322%,
    53.594% 1.501%,
    54.152% 1.706%,
    54.699% 1.938%,
    55.233% 2.195%,
    93.134% 21.648%,
    93.134% 21.648%,
    93.653% 21.93%,
    94.152% 22.235%,
    94.632% 22.563%,
    95.091% 22.912%,
    95.529% 23.281%,
    95.944% 23.671%,
    96.337% 24.079%,
    96.705% 24.506%,
    97.048% 24.95%,
    97.365% 25.41%,
    97.365% 25.41%,
    97.655% 25.885%,
    97.915% 26.372%,
    98.146% 26.869%,
    98.347% 27.375%,
    98.518% 27.89%,
    98.659% 28.412%,
    98.768% 28.94%,
    98.847% 29.473%,
    98.894% 30.01%,
    98.909% 30.55%,
    98.909% 69.456%,
    98.909% 69.456%,
    98.894% 69.996%,
    98.847% 70.533%,
    98.768% 71.066%,
    98.659% 71.594%,
    98.518% 72.116%,
    98.347% 72.631%,
    98.146% 73.137%,
    97.915% 73.634%,
    97.655% 74.12%,
    97.365% 74.595%,
    97.365% 74.595%,
    97.048% 75.056%,
    96.705% 75.5%,
    96.337% 75.927%,
    95.944% 76.335%,
    95.529% 76.724%,
    95.091% 77.094%,
    94.632% 77.443%,
    94.152% 77.77%,
    93.653% 78.076%,
    93.134% 78.358%,
    55.233% 97.805%,
    55.233% 97.805%,
    54.699% 98.063%,
    54.152% 98.294%,
    53.594% 98.499%,
    53.025% 98.678%,
    52.447% 98.831%,
    51.861% 98.956%,
    51.267% 99.054%,
    50.668% 99.124%,
    50.065% 99.166%,
    49.458% 99.18%,
    49.458% 99.18%,
    48.851% 99.166%,
    48.247% 99.124%,
    47.648% 99.054%,
    47.055% 98.956%,
    46.469% 98.831%,
    45.89% 98.678%,
    45.322% 98.499%,
    44.763% 98.294%,
    44.217% 98.063%,
    43.683% 97.805%,
    5.775% 78.358%,
    5.775% 78.358%,
    5.257% 78.076%,
    4.757% 77.77%,
    4.277% 77.443%,
    3.818% 77.094%,
    3.38% 76.724%,
    2.965% 76.335%,
    2.573% 75.927%,
    2.205% 75.5%,
    1.861% 75.056%,
    1.544% 74.595%,
    1.544% 74.595%,
    1.254% 74.12%,
    0.994% 73.634%,
    0.763% 73.137%,
    0.562% 72.631%,
    0.391% 72.116%,
    0.25% 71.594%,
    0.141% 71.066%,
    0.062% 70.533%,
    0.015% 69.996%,
    -0% 69.456%,
    0% 30.573%,
    0% 30.573%,
    0.014% 30.032%,
    0.06% 29.493%,
    0.137% 28.959%,
    0.246% 28.43%,
    0.386% 27.906%,
    0.556% 27.39%,
    0.757% 26.883%,
    0.988% 26.384%,
    1.248% 25.897%,
    1.538% 25.42%,
    1.538% 25.42%,
    1.855% 24.958%,
    2.198% 24.513%,
    2.567% 24.085%,
    2.96% 23.676%,
    3.376% 23.285%,
    3.814% 22.915%,
    4.274% 22.565%,
    4.755% 22.237%,
    5.256% 21.931%,
    5.775% 21.648%
  );
}
